#history-container {
  padding-left: 50px;
  padding-right: 50px;
}

table {
  width: 100%;
  margin: 0;
}

.history-table {
  --bs-table-border-color: #646464;
}

th, td {
  background-color: #D9D9D9;
}
