<section id="history-container">
  <ng-container *ngIf="uebungEvents.length === 0">
    <div id="info-container">
      <p class="info-text">Bisher wurden noch keine Übungen abgeschlossen.</p>
    </div>
  </ng-container>
  <ng-container *ngIf="uebungEvents.length !== 0">
    <table class="table history-table">
      <thead>
      <tr>
        <th>Datum</th>
        <th>Modus</th>
        <th>Schwierigkeit</th>
        <th>Korrekt</th>
        <th>Falsch</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let event of uebungEvents">
        <td>{{event.beendetAm | datumDe}}</td>
        <td>{{event.modus | modusTransform}}</td>
        <td>{{event.schwierigkeit | schwierigkeitTransform}}</td>
        <td>{{event.korrektLoesungen}}</td>
        <td>{{event.falscheLoesungen}}</td>
      </tr>
      </tbody>
    </table>
  </ng-container>
</section>
