.border-r {
  border: 2px solid red;
  padding: 1px;
  margin: 1px;
}

.border-g {
  border: 2px solid green;
  padding: 1px;
  margin: 1px;
}

.border-b {
  border: 2px solid blue;
  padding: 1px;
  margin: 1px;
}

.border-o {
  border: 2px solid orange;
  padding: 1px;
  margin: 1px;
}
