<section id="uebung-konfiguration-container" class="d-flex-row">
  <section id="modus-container" class="w-100 d-flex-row centered">
    <form id="modus-form" class="form d-flex-row" [formGroup]="modusForm.getForm()">
      <div class="d-flex-row centered m-2">
        <label>Modus:</label>
      </div>
      <div class="m-2">
        <select class="form-select" formControlName="modus">
          <option [ngValue]="ModusTyp.ADDITION">+ Addition</option>
          <option [ngValue]="ModusTyp.SUBTRAKTION">- Subtraktion</option>
          <option [ngValue]="ModusTyp.MULTIPLIKATION">* Multiplikation</option>
          <option [ngValue]="ModusTyp.DIVISION">/ Division</option>
          <option [ngValue]="ModusTyp.GEMISCHT">Gemischt</option>
        </select>
      </div>
    </form>
  </section>
  <section id="schwierigkeit-container" class="w-100 d-flex-row centered">
    <form id="schwierigkeit-form" class="form d-flex-row" [formGroup]="schwierigkeitForm.getForm()">
      <div class="d-flex-row centered m-2">
        <label>Schwierigkeit:</label>
      </div>
      <div class="m-2">
        <select class="form-select"  formControlName="schwierigkeit">
          <option [ngValue]="Schwierigkeit.EINFACH">Einfach</option>
          <option [ngValue]="Schwierigkeit.MITTEL">Mittel</option>
          <option [ngValue]="Schwierigkeit.SCHWER">Schwer</option>
        </select>
      </div>
    </form>
  </section>
  <section id="button-container" class="d-flex-row centered">
    <button id="start-btn" class="btn" type="button" (click)="uebungStarten()" *ngIf="!istUebungGestartet">Start</button>
    <button id="abbruch-btn" class="btn" type="button" (click)="uebungAbbrechen()" *ngIf="istUebungGestartet">Abbrechen</button>
  </section>
</section>

<section id="uebung-container" *ngIf="istUebungGestartet">
  <div id="uebung-ansicht-container">
    <div id="zeit-container">
      <p>{{uebungService.aktuelleSekunden | sekundenToHms}}</p>
    </div>
    <div id="aufgabe-container">
      <p>{{uebungService.aktuellerTerm}}</p>
    </div>
    <div id="loesung-input-container" class="d-flex-row centered">
      <form id="loesung-form" [formGroup]="loesungForm">
        <label type="hidden" aria-label="Eingabefeld für die Lösung"></label>
        <input id="loesung-input"
               type="text"
               required
               maxlength="10"
               (keydown)="evaluiereLoesung($event)"
               formControlName="loesung"
        >
      </form>
    </div>
    <section id="post-uebung-statistik-container" *ngIf="uebungService.istUebungBeendet()">
      <div id="uebung-ergebnis-container" class="d-flex-row centered gap-10">
        <div>
          <p>Gelöst: <span>{{totaleAufgaben}}</span></p>
        </div>
        <div>
          <p>Korrekt: <span class="korrekt-span">{{korrekteLoesungen}}</span></p>
        </div>
        <div>
          <p>Falsch: <span class="falsch-span">{{falscheLoesungen}}</span></p>
        </div>
      </div>
      <section id="falsch-events-container">
        <h5>Falsch beantwortet</h5>
        <ul>
          <li *ngFor="let falscheLoesung of uebungService.alleFalschenLoesungen">
            <p><span>{{falscheLoesung.term}}</span> = <span class="falsch-span"><s>{{falscheLoesung.actualLoesung}}</s></span> <span> &#x27A1; </span> <span class="korrekt-span">{{falscheLoesung.expectedLoesung}}</span></p>
          </li>
        </ul>
      </section>
      <div id="link-container" class="d-flex-row">
        <a href="#" id="erneut-link">nochmal</a>
      </div>
    </section>
  </div>
</section>
